.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FFF; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  width: 97%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre a imagem e o texto */
}

.logo {
  width: 30px;  /* Ajuste conforme necessário */
  height: 30px; /* Ajuste conforme necessário */
}

.ellaWrapper {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.ella {
  font-size: 28px;
  font-weight: bold;
  color: #8f969d  ; 
}

.definition {
  font-size: 14px;
  font-weight: normal;
  color: #8f969d  ; 
}

.tagline {
  font-size: 14px;
  color: #8f969d  ;
  margin-top: 4px;
}

.nav {
  display: flex;
  gap: 20px;
  padding: 0 30px;

  @media (max-width: 768px) {
    display: none;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #8f969d;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #000; /* Azul claro ao passar o mouse */
    }

    .icon {
      margin-right: 8px;
    }
  }
}
